@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/* VARAIBLES */
/* MIXINS */
.btn-links {
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
}
.blog-h3 {
  font-size: 50px;
  font-weight: bolder;
  border-bottom: 2px solid #000000;
  padding-top: 35px;
}
body {
  font-family: Montserrat, sans-serif;
}
/* NAVIGATION */
.navbar {
  background: transparent !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #00aaff;
  font-size: 18px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.navbar-light .navbar-nav .nav-link .navbar-light .navbar-brand {
  margin-top: -12px;
}
.navbar-light .navbar-toggler {
  border-color: #ffffff;
}
.navbar-toggler {
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .navbar-brand {
    display: none;
  }
}
.logo-brand {
  animation: App-logo-spin infinite 6s linear;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* HEADER */
header {
  height: 77vh;
  max-width: 100%;
  background: url("../images/luxury-home.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}
header article {
  padding-top: 200px;
  text-align: center;
}
header .btn-link {
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  border: 1px solid #ffffff;
  color: #ffffff;
}
header .btn-link:hover {
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
}
@media (max-width: 1366px) {
  header article {
    padding-top: 0;
  }
}
@media (max-width: 800px) {
  header .btn-link {
    display: none;
  }
  header article h1,
  header article h3 {
    display: none;
  }
  header article img {
    display: none;
  }
}
@media (max-width: 845px) {
  header article {
    padding-top: 0;
  }
}
/* POP UP BUTTON */
#top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #00aaff;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
/* OPTIONS */
#options {
  color: #ffffff;
  margin-top: -100px;
}
#options article {
  text-align: center;
}
#options article h4 {
  border-top: 1px solid #ffffff;
}
#options article a {
  color: #ffffff;
}
@media (max-width: 769px) {
  #options {
    margin-top: -261px;
  }
  #options article h4 {
    border-top: none;
  }
  #options article a {
    display: none;
  }
}
/* GALLERY */
#gallery {
  margin-top: 80px;
  text-align: center;
  padding-bottom: 43px;
}
#gallery article {
  margin: auto;
}
#gallery article img {
  width: 380px;
  height: 200px;
}
#gallery article img:hover {
  opacity: 0.5;
}
#gallery article .btn-link {
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  color: #000000;
}
#gallery article .btn-link:hover {
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
  background-color: #000000;
}
@media (max-width: 769px) {
  #gallery {
    margin-top: 180px;
  }
}
/* BLOG */
#blog {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/background-blog.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 45px;
  max-width: 100%;
  height: auto;
}
#blog .head {
  margin: 50px;
  font-weight: bolder;
}
#blog .head h3 {
  font-size: 50px;
  font-weight: bolder;
  border-bottom: 2px solid #000000;
  padding-top: 35px;
  color: #ffffff;
}
#blog .head h3 span {
  color: #000000;
  padding-left: 20px;
}
#blog article {
  margin: auto;
  background-color: #ffffff;
  height: auto;
  font-size: 20px;
}
#blog article h3 {
  font-weight: bold;
}
#blog .img-fluid {
  width: 500px;
  height: 400px;
  border-radius: 50%;
  margin-top: 12px;
}
@media (max-width: 800px) {
  #blog .head h3 {
    font-size: 25px;
  }
}
/* HIDE BLOG UNDER 480PX */
@media (max-width: 480px) {
  #blog {
    display: none;
  }
}
/* MAGAZINE*/
#magazine {
  padding-bottom: 50px;
}
#magazine .head-magazine h3 {
  font-size: 50px;
  font-weight: bolder;
  border-bottom: 2px solid #000000;
  padding-top: 35px;
  color: #000000;
}
#magazine .head-magazine span {
  color: #808080;
  padding-left: 20px;
}
#magazine .img-fluid {
  width: 80%;
  border: 1px solid black;
  margin-top: 35px;
}
#magazine article {
  padding-top: 50px;
}
#magazine article .img-fluid {
  width: 300px;
  height: 279px;
}
@media (max-width: 800px) {
  #magazine .head-magazine h3 {
    font-size: 25px;
  }
}
/* FOOTER */
footer {
  background: #000000;
  color: #ffffff;
  padding-top: 20px;
}
footer .fab {
  margin: auto;
  font-size: 40px;
  color: #ffffff;
  padding: 7px;
}
@media (max-width: 850px) {
  #contacts h4 {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */
